---
// layout.astro or index.astro

import { Button } from "@/components/ui/button";
import InteractiveCarousel from "@/components/ui/interactiveCarousel";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import SiteLayout from "src/layouts/SiteLayout.astro";
---

<SiteLayout>
  <!-- About Section -->
  <section class="py-10 px-6 bg-red-300/10">
    <div class="max-w-4xl mx-auto text-center">
      <div class="flex flex-col md:flex-row gap-10 items-center">
        <div class="w-1/2">
          <Card>
            <CardContent>
              <br />
              <br />
              <br />
              <p>Image here</p>
              <br />
              <br />
              <br />
            </CardContent>
          </Card>
        </div>
        <div>
          <h1 class="text-2xl font-bold text-emerald-800 pb-10">
            Making Golf Make Sense
          </h1>
          <strong
            >Golf has been a lifelong passion of mine - I've been playing
            recreationally for over 50 years!</strong
          >
          <br /><br />
          <p>
            My love for the game led me to take things a step further and in
            2022, I proudly earned my teaching certification through the
            National Registry of Professional Golf Instructors.<br /><br /> Over
            the past three years, I’ve taught private lessons, led on-course playing
            sessions, and run a variety of fun, supportive clinics. My goal is simple:
            to help you build your skills and confidence, so you can enjoy playing
            golf with family, friends, and colleagues — and actually look forward
            to every round.
          </p>
        </div>
      </div>
    </div>
  </section>
</SiteLayout>
