---
// layout.astro or index.astro
import "../styles/global.css";
import { Button } from "@/components/ui/button";
import InteractiveCarousel from "@/components/ui/interactiveCarousel";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import TestimonalsCarousel from "@/components/ui/testimonalsCarousel";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/golf.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Judi Grebenc Golf</title>
  </head>
  <body class="text-neutral-900 font-sans">
    <!-- Header -->
    <header class="md:py-2 text-center bg-white shadow-md sticky top-0 z-50">
      <div class="flex justify-center items-center px-4">
        <div class="flex items-center gap-4">
          <img class="w-32 pt-2" src="/clearLogo.svg" />
          <div class="flex flex-col">
            <h1 class="text-2xl md:text-4xl font-bold text-blue-500">
              Judi Grebenc Golf
            </h1>
            <p class="text-md text-emerald-600 italic">
              Teeing you up FORE Golf
            </p>
          </div>
        </div>
      </div>
    </header>
    <!-- About Section -->
    <section class="py-20 px-6 bg-blue-50">
      <div class="max-w-4xl mx-auto text-center">
        <div class="flex flex-col md:flex-row gap-10 items-center">
          <div class="w-1/2">
            <Card>
              <CardContent>
                <br />
                <br />
                <br />
                <p>Image here</p>
                <br />
                <br />
                <br />
              </CardContent>
            </Card>
          </div>
          <div>
            <strong
              >Golf has been a lifelong passion of mine - I've been playing
              recreationally for over 50 years!</strong
            >
            <br /><br />
            <p>
              My love for the game led me to take things a step fur and and in
              2022, I proudly earned my teaching certification through the
              National Registry of Professional Golf Instructors.<br /><br /> Over
              the past three years, I’ve taught private lessons, led on-course playing
              sessions, and run a variety of fun, supportive clinics. My goal is
              simple: to help you build your skills and confidence, so you can enjoy
              playing golf with family, friends, and colleagues — and actually look
              forward to every round.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- What I Offer Section -->
    <section class="pb-20 px-4 bg-blue-50">
      <div class="max-w-6xl mx-auto flex flex-col md:flex-row gap-4">
        <Card className="px-2 text-justify min-w-1/2">
          <CardHeader>
            <CardTitle className="text-blue-500">
              Your Path to Progress
            </CardTitle>
            <CardDescription
              >Helping women gain confidence and enjoy the game - one swing at a
              time.</CardDescription
            >
          </CardHeader>
          <CardContent>
            <p class="text-neutral-700">
              Golf doesn’t have to be complicated or intimidating. I make
              learning the game simple, encouraging, and fun by breaking skills
              down into clear, easy steps. We’ll start with the basics - your
              grip, posture, and setup - and build a full swing that feels
              natural, consistent, and easy to repeat. With the right drills and
              tools, you’ll begin to feel your swing, trust it, and gain the
              confidence to enjoy the game on your own terms. My goal is to help
              you believe in your game, enjoy the process, and step onto the
              course with confidence and a smile.
            </p>
          </CardContent>
        </Card>
        <Card className="px-2 text-justify min-w-1/2">
          <CardHeader>
            <CardTitle className="text-blue-500">
              Your Lesson Experience
            </CardTitle>
            <CardDescription
              >All lessons take place at a state-of-the-art indoor golf
              simulator in Burlington, Ontario.</CardDescription
            >
          </CardHeader>
          <CardContent>
            <p class="text-neutral-700">
              The rate is <strong
                >$125/hour, which includes simulator fees and taxes</strong
              >. You’re welcome to enjoy a private session - or bring a friend
              to share the experience and the cost!<br /><br /> I love coaching in
              this environment because the simulator provides detailed swing data
              and video feedback. This technology makes it easier to understand your
              swing mechanics and see real progress, faster.
            </p>
          </CardContent>
        </Card>
      </div>
    </section>
    <!-- Hero Section -->
    <section
      class="flex flex-col items-center justify-center px-6 py-16 text-center bg-emerald-50"
    >
      <h2 class="text-2xl font-bold text-center text-blue-500 mb-10">
        Step Up Your Golf Game
      </h2>
      <p class="max-w-xl text-neutral-700 mb-10">
        Professional golf instruction designed specifically for women of all
        skill levels.
      </p>
      <div class="mb-10">
        <div class="grid grid-cols-3 gap-4 text-left md:text-center">
          <h3 class="col-span-1 text-blue-400 font-bold text-xl">Email</h3>
          <p class="col-span-2">judigrebenc@gmail.com</p>
          <h3 class="col-span-1 text-blue-400 font-bold text-xl">Cell</h3>
          <p class="col-span-2">(+1) 905-330-7104</p>
        </div>
      </div>
      <Button size="lg">
        <a href='mailto:judigrebenc@gmail.com"'> Book a Lesson </a>
      </Button>
    </section>
    <section class="pb-20 px-6 bg-emerald-50">
      <div class="max-w-5xl mx-auto text-center justify-center">
        <TestimonalsCarousel client:load />
      </div>
    </section>

    <!-- Image Carousel Section -->
    <section class="py-20 px-6 bg-white">
      <div class="max-w-5xl mx-auto text-center justify-center">
        <h2 class="text-2xl font-bold text-blue-500 mb-6">Gallery</h2>
        <div class="flex justify-center">
          <div class="w-5/6 md:w-1/2">
            <InteractiveCarousel client:load />
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer
      class="py-8 px-6 bg-white border text-center text-sm text-neutral-500"
    >
      © 2025 Judi Grebenc Golf. All rights reserved.
    </footer>
  </body>
</html>
