---
import SiteLayout from "src/layouts/SiteLayout.astro";
---

<SiteLayout>
  <section
    class="py-10 px-6 bg-emerald-50/50 w-full text-center justify-center"
  >
    <p class="text-2xl font-bold text-center text-emerald-800 mb-10">Lessons</p>
    <div
      class="max-w-6xl mx-auto flex flex-col gap-20 bg-white px-4 pt-4 pb-10 rounded-lg shadow-lg"
    >
      <div>
        <h1 class="text-xl text-emerald-800 font-bold">One Swing at a Time</h1>
        <p>
          Golf doesn’t have to be complicated or intimidating. Working with me
          you will receive golf instruction from a female perspective—designed
          to make learning the game easy, encouraging, and fun by breaking
          skills down into clear, simple steps. We’ll start with the basics —
          your grip, posture, and setup — and build a full swing that feels
          natural, consistent, and repeatable. With the right drills and tools,
          you’ll begin to <i>feel</i> your swing, trust it, and gain the confidence
          to enjoy playing golf on your own terms. My goal is to help you believe
          in your game, enjoy the process, and step onto the course feeling ready
          and relaxed.
        </p>
      </div>
      <div>
        <h1 class="text-xl text-emerald-800 font-bold">
          Your Lesson Experience
        </h1>
        <p>
          All lessons take place at a state-of-the-art indoor golf simulator in
          Burlington, Ontario. The rate is $125/hour, which includes simulator
          fees and taxes. You’re welcome to enjoy a private session — or bring a
          friend to share the experience and the cost! Lessons are paid in full
          at the time of booking in order to secure your spot. I love coaching
          indoors because the simulator provides detailed swing data and video
          feedback. This technology makes it easier to understand your swing
          mechanics and see real progress, faster.
        </p>
        <div class="flex items-center justify-center mt-5">
          <a
            href="/contact"
            target="_top"
            class="h-10 w-fit rounded-md px-4 bg-primary text-primary-foreground shadow-xs hover:bg-primary/70 flex items-center justify-center"
          >
            Book a Lesson
          </a>
        </div>
      </div>
      <div>
        <h1 class="text-xl text-emerald-800 font-bold">Cancellation Policy</h1>
        <p>
          Cancellation of a lesson must be made at least 48 hours prior in order
          to reschedule.
        </p>
      </div>
    </div>
  </section>
</SiteLayout>
